---
import BaseLayout from "@layouts/BaseLayout.astro";
import EntryCard from "@components/EntryCard.astro";
import { SITE_DESCRIPTION } from "../config";
import * as EntryUtils from "../lib/EntryUtils";

const latestEntries = await EntryUtils.getLatestCollectionEntries(5);

function getDefaultIcon(collection: string): string | undefined {
  switch (collection) {
    case "blog":
      return "blog";
    case "hobbies":
      return "hobby";
    case "projects":
      return "project";
    case "store":
      return "product";
    default:
      return;
  }
}
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl font-bold">David Creel</div>
    <div class="text-3xl py-3 font-bold">The Make-a-holic</div>
    <div class="py-2">
      <text class="text-lg">
        {SITE_DESCRIPTION}
      </text>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest Updates</div>
  </div>
  {
    latestEntries.map((entry) => (
      <>
        <EntryCard
          entry={entry}
          defaultMedia={getDefaultIcon(entry.collection)}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
