---
import * as WorkUtils from "@lib/WorkUtils";
import WorkCardImage from "@components/WorkCardImage.astro";

export interface Props {
  workProject: WorkUtils.WorkProject;
}

const { workProject } = Astro.props;
---

<div
  class="bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={workProject.url} target="_self">
    <div class="hero-content flex-col md:flex-row">
      <WorkCardImage workProject={workProject} defaultIcon="project" />
      <div class="grow">
        <h1 class="text-xl font-bold">
          {workProject.title}
        </h1>
        <p class="py-1 text-1xl whitespace-pre-line">
          {workProject.description}
        </p>
      </div>
    </div>
  </a>
</div>
