---
import { Icon } from "astro-icon/components";
---
<div class="flex flex-row space-x-4 mb-8 mt-4 self-center bottom-0 bg-base-200">
  <a href="https://www.thingiverse.com/dcreel" target="_blank" title="Thingiverse">
    <Icon name="thingiverse" class="w-8 h-8" />
  </a>
    <a href="https://www.thingiverse.com/dcreel" target="_blank" title="Github">
      <Icon name="github" class="w-8 h-8" />
    </a>
    <a href="https://www.thingiverse.com/dcreel" target="_blank" title="Linkedin">
      <Icon name="linkedin" class="w-8 h-8" />
    </a>
    <a href="https://www.thingiverse.com/dcreel" target="_blank" title="Facebook">
      <Icon name="facebook" class="w-8 h-8" />
    </a>
</div>