---
import { type Project } from "../content/config";
import EntryLayout from "@layouts/EntryLayout.astro";

export interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<EntryLayout entry={Astro.props.project}>
  <Fragment slot="header">
    {
      project.updatedDate && (
        <div>
          Last Updated: <time>{project.updatedDate.toLocaleDateString()}</time>
        </div>
      )
    }
    {project.status && <div>Status: {project.status}</div>}
  </Fragment>
  <slot name="content" slot="content" />
</EntryLayout>
